<div style="height: 100vh; display: flex; justify-content: center; align-content: center; flex-direction: column;">
  <img src="https://treasurehuntint.com/img/treasure-hunt-int.jpg" alt="map-icon"
    style="width: 10%; height: auto; margin: 0 auto; display: block;">
  <h2 style="text-align: center;">Welcome to Treasure Hunt Int!
  </h2>
  <p style="text-align: center;">Try your password on the URL like:
    treasurehuntint.com/{your_answer_here}
    and press Enter!
  </p>
  <p style="text-align: center;">
    If you are right, the location of the treasure will be on your screen!
    Good luck!
  </p>
  <p style="text-align: center;">
    You can test how the site works by trying as an answer the word "test".
    That means you should put in the URL treasurehuntint.com/test
  </p>
</div>