<div style="height: 100vh; display: flex; justify-content: center; align-content: center; flex-direction: column;">
  <img src="https://treasurehuntint.com/img/treasure-hunt-int.jpg" alt="map-icon"
    style="width: 10%; height: auto; margin: 0 auto; display: block;">
  <h2 style="text-align: center;">Ooops! That was a mistake!
  </h2>
  <div style="text-align: center;">Please try again!
  </div>
  <a href="/" style="display: block; text-align: center;">Back to homepage</a>
</div>